.bg-login{
    background-color: rgba(0, 120, 255, 0.8);
}

.min-card-width{
    min-width: 18em;
}

.min-card-height{
    min-height: 11.9em;
}

.min-card-width-2x{
    min-width: 36em;
}

.min-card-height-2x{
    min-height: 18em;
}

.action-card{
    min-width: 18em;
    min-height: 11.2em;
}

.historic-table, .critical-date-table{
    zoom: 60%;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.bg-light-green {
    background-color: greenyellow;
}

.bg-green {
    background-color: green;
}

.zoom-90{
    zoom: 90%;
}

.zoom-80{
    zoom: 80%;
}

.zoom-70{
    zoom: 70%;
}